*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background-color: brown;
    /* background: radial-gradient(purple,yellow); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: aqua;
    height: 404px;
    width: 404px;

    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main > .box > .r1{
    display: flex;
    justify-content: center;
    align-items: center;
}

main > .box > .r1 > .w
{
    background-color: white;
    height: 50px;
    width: 50px;
}
main > .box > .r1 >.b
{
    background-color: black;
    height: 50px;
    width: 50px;
}

